body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}


.header {
    display: flex;
    justify-content: flex-start;
    background-color: #636262;
    padding: 10px;
    margin-bottom: 30px;
    height:40px ;
}
.all{
    display: flex;
    justify-content: space-between;  
}
.first {
    flex: 3;
    display: flex;
    justify-content: space-between;
}
.tabs {
    display: flex;
    justify-content: flex-start;
   
}

.tab {
    width: 100px;
    height: 30px;
    background-color: #ddd; 
    margin-right: 5px;
    
}
 #a{
    background-color: #8b8989; 
 }
 
 .arr{
    display: flex;
    align-items: center; 
    margin-left: auto;
 }

.secound{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
 .tab2{
    
    width: 20px;
    height: 20px;
    background-color: #ddd; 
    margin-right: 10px;
 }
.main-content {
    display: flex;
    margin-bottom: 10px;
}

.main {
    flex: 3;
    height: 200px;
    background-color: #8b8989;
    margin-right: 10px;
}

.side {
    flex: 1;
    height: 200px;
    background-color: #b0adad;
}






.container2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}


.grid-container {
    flex:3;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 10px; 
}

.grid-item {
    background-color: #cccccc;
    width: calc(33.33% - 150px); 
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lor{
    background-color: #e7e7e7;
    width: calc(33.33% - 150px);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-container {
    flex:1;
    display: flex;
    flex-wrap: wrap;
    width: 28%; 
    gap: 10px; 
}

.sidebar-item {
  
    background-color: #bbbbbb;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-item.small {
    width: 300px;
    height: 20px; 
    background-color: #636262;
}
.sidebar-item.large {
    width: 100px;
    height: 100px; 
}
.alllor{
    gap: 10px;
}
.lor2{
    background-color: #d3d1d1;
    width: 200px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}